<div class="container-fluid mt-3">
  <div id="<%= dom_id painting %>">
    <h1><%= painting.title %></h1>

      <p class="mb-3">
        <% if Rails.env.test? %>
          <%= image_tag "photo1.jpeg", alt: "test image", height: 300 %>
        <% else %>
          <%=cl_image_tag painting.photos[0].key, height: 300 if painting.photos.present? %>
        <% end %>
      </p>


    <p>
      <strong>Description:</strong>
      <%= painting.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= number_to_currency(painting.price / 100.00, :unit=> '€') %>
    </p>

    <% if painting.discount_code %>
      <p>
        <strong>Discount code:</strong>
        <%= painting.discount_code %>
      </p>
    <% end %>

    <% if @cart.include?(painting) %>
      <%= button_to 'Remove from cart', remove_from_cart_path(painting), method: :delete, class: 'btn btn-danger' %>
    <% elsif painting.status == "sold" %>
      <p>
        <%= button_to "Sold", painting, class: "btn btn-danger mt-3", disabled: true %>
      </p>
    <% else %>
      <p>
        <%= button_to "Add to cart", add_to_cart_path(painting), method: :post, class: "btn btn-primary mt-3" %>
      </p>
    <% end %>
  </div>
</div>
