<div id="<%= dom_id painting %>">
  <p>
    <strong>Description:</strong>
    <%= painting.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= painting.price %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= painting.title %>
  </p>

  <p>
    <strong>Discount code:</strong>
    <%= painting.discount_code %>
  </p>

</div>
