<div class="container-fluid mt-3 p-5 text-center">
  <div id="<%= dom_id painting %>">
    <% if painting.status != "sold" && !@cart.include?(painting) %>
      <div class="sticky">
        <%= button_to add_to_cart_path(painting), method: :post, class: "btn btn-outline-primary tree" do %>
          <i class="fa-solid fa-cart-plus fa-xl"></i>
          Purchase Original
        <% end %>
      </div>
    <% end %>

    <div class="mt-3">
      <% if Rails.env.test? %>
        <%= image_tag "photo1.jpeg", alt: "test image" %>
      <% else %>
        <%= cl_image_tag(painting.photos[0].key, class: "carousel-img-responsive shadow rounded") if painting.photos.present? %>
      <% end %>
    </div>

    <div class="my-3 text-center">
      <h1 class="mt-3"><%= painting.title %></h1>
      <p class="prod-price"> <%= number_to_currency(painting.price / 100.00, :unit=> '$') %> <small>Shipping included</small></p>
      <p><%= painting.description %></p>
      <% if @cart.include?(painting) %>
        <%= button_to 'Remove from cart', remove_from_cart_path(painting), method: :delete, class: 'btn btn-lg btn-outline-danger tree mt-3 mb-0' %>
      <% elsif painting.status == "sold" %>
        <p>
          <%= button_to "Sold", painting, class: "btn btn-danger mt-3", disabled: true %>
        </p>
      <% else %>
        <p>
          <%= button_to "Purchase Original", add_to_cart_path(painting), method: :post, class: "btn btn-lg btn-outline-primary tree mt-3 mb-0" %>
        </p>
      <% end %>
    </div>

  </div>
</div>
