<div class="container-fluid">
  <div id="<%= dom_id painting %>">
    <h1><%= painting.title %></h1>

      <p class="mb-3">
        <% if Rails.env.test? %>
          <%= image_tag "photo1.jpeg", alt: "test image", height: 300 %>
        <% else %>
          <%=cl_image_tag painting.photos[0].key, height: 300 if painting.photos.present? %>
        <% end %>
      </p>


    <p>
      <strong>Description:</strong>
      <%= painting.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= number_to_currency(painting.price / 100.00, :unit=> '€') %>
    </p>

    <% if painting.discount_code %>
      <p>
        <strong>Discount code:</strong>
        <%= painting.discount_code %>
      </p>
    <% end %>
  </div>
</div>
