
<div class="container pb-5">
  <div class="text-center mt-3">
    <h1>My works</h1>
  </div>



  <div class="row" id="paintings" data-controller="works">
    <% @paintings.each do |painting| %>
      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card my-5 mx-3 p-3 shadow rounded" data-action="click->works#openPainting" data-url="/paintings/<%= painting.id %>">
        <% if painting.status == 'available' %>
          <div class="ribbon"><span>Available</span></div>
        <% else %>
          <div class="ribbon red"><span>Sold</span></div>
        <% end %>

          <%= cl_image_tag painting.photos[0].key if painting.photos.present?%>
          <div class="card-body">
              <h5 class="card-title"><%= painting.title %></h5>
              <p class="card-text"><%= painting.description %></p>
              <div class="d-flex flex-row">
                  <small>
                    <%= number_to_currency(painting.price / 100.00, :unit=> '€') %>
                  </small>
              </div>
            </div>
          <% if @cart.include?(painting) %>
            <p>In your cart</p>
          <% elsif painting.status == "sold" %>
            <p>Sold</p>
          <% end %>
        </div>
      </div>

    <% end %>
    <div class="container pages-list">
      <%= paginate @paintings %>
    </div>
  </div>

</div>
