<div class="container-fluid pb-5 text-center">
  <p style="color: green"><%= notice %></p>


  <%= render @painting %>

  <% if current_user %>
    <div>
      <%= link_to "Edit this painting", edit_painting_path(@painting), class: "btn btn-primary mt-3 text-white" %>
      <%= link_to "Back to paintings", paintings_path, class: "btn btn-info mt-3 text-white" %>

      <%= link_to "Delete", @painting, class: "btn btn-danger mt-3 text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>
