<div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-3">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag 'AOJ.png', class: "avatar" %>
      <small>The Art of Jaleh</small>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Admin", "/admin", class: "nav-link" %>
          </li>
          <% if @orders.count > 0 && @orders.find_by(status: 0) != nil %>
             <%= link_to orders_path, class: "btn btn-success rounded position-relative me-3 mb-3" do %>
                <i class="fa-solid fa-truck-fast"></i> <span class="position-absolute top-0 start-100 translate-middle badge bg-secondary rounded-pill"><%= @orders.count %></span>
              <% end %>
          <% end %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "aoj.jpeg", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "About", "/about", class: "dropdown-item" %>
              <%= link_to "CV", "/cv", class: "dropdown-item" %>
              <%= link_to "Photography", "/photography", class: "dropdown-item" %>
              <%= link_to "Orders", "/orders", class: "dropdown-item" %>
              <%= link_to "Commissions", "/comissions", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <% if @cart && @cart.count > 0 %>
            <li class="nav-item">
              <%= link_to new_order_path, class: "btn btn-primary rounded" do %>
                <i class="fa-solid fa-cart-shopping me-3"></i><span class="badge bg-secondary"><%= @cart.count %></span>
              <% end %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Works", paintings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "CV", cv_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Comissions", comissions_path, class: "nav-link" %>
          </li>


        <% end %>
      </ul>
    </div>
  </div>
</div>

<%# Path to view photography. Add before last "end" above if desired %>

<% if false %>
      <li class="nav-item">
            <%= link_to "Photography", photography_path, class: "nav-link" %>
          </li>
<% end %>
