<div class="container-fluid my-3 mx-3>
  <div id="<%= dom_id order %>">
    <h1> For: <%= order.name %></h1>
    <p>Address: <%= order.address %></p>
    <p>Contact: <%= order.phone %></p>
    <p>Paintings:
      <% order.paintings.each do |painting| %>
        <%= painting.title %> <br>
        <%=cl_image_tag( painting.photos[0].key, width: 400, height:300, crop: :thumb) if painting.photos.present? %>
      <% end %>
    </p>
  </div>
</div>
