<div class="container-fluid mt-3">
  <div id="<%= dom_id order %>">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">For: <%= order.name %></h5>
        <h6 class="card-text">Contact: <%= order.phone %></h6>
        <p class="card-text">Address: <%= order.address %></p>
        <p>Paintings:
          <% order.paintings.each do |painting| %>
           <li>
            <%= painting.title %>
            <%=cl_image_tag( painting.photos[0].key, width: 200, height:150, crop: :thumb) if painting.photos.present? %>
           </li> <br>
          <% end %>
        </p>
      </div>
    </div>

  </div>

</div>
