<div class="container pb-5" data-controller="search">
  <div class="text-center mt-3">
    <h1>My Orders</h1>
  </div>
  
 <div class="d-flex justify-content-center my-3">
    <%= form_with url: orders_path, method: :get, class: "d-flex", data: { search_target: 'searchForm' } do %>
      <div class="input-group col-sm-6 col-md-4">
        <%= text_field_tag :query,
          params[:query],
          class: "border border-blue-200 rounded p-2",
          autocomplete: "off",
          placeholder: "Find an order",
          data: { search_target: 'input' }
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class='d-flex justify-content-center'>
    <%= render 'reset_link', query: params[:query] %>
  </div>

  <div class="row row-cols-1 row-cols-md-2" id="orders" data-controller="orders">
    <% @orders.each do |order| %>
    <% if !order.complete? %>
      <div class="d-flex align-items-stretch">
        <div class="card my-5 mx-3 p-3 shadow rounded" data-action="click->orders#openOrder" data-url="/orders/<%= order.id %>">
          <% if order.status != "complete" %>
              <%= render order %>
            <% end %>
        </div>
      </div>
    <% end %>

    <% end %>
  </div>

</div>
