
<div class="tabDiv" data-controller="crypto" data-crypto-price-value="<%= @cart.sum(&:price) / 100.00 %>">


  <div class="tabs">
    <input class="tabInput" name="tabs" type="radio" id="tab-1" checked="checked"/>
    <label class="tabLabel" for="tab-1">Pay With <i class="fa-brands fa-stripe fa-2xl"></i></label>
    <div class="panel">
      <h1 class="tabH1"><i class="fa-brands fa-stripe fa-2xl"></i></h1>
      <p class="tabP mb-3">Orders ship typically within a few days of purchase. They are packaged by the artist and delivered via the most expedient method possible. If you have any doubts, please message the artist via Instagram or email and she will follow up with you as soon as she is able. Thank you for supporting a more colorful world!</p>
      <div>
        <%= simple_form_for @order, url: create_order_path, method: :post do |f| %>
          <div class="form-inputs">
            <label class="amount mb-3">
              <strong>Your total: <%= number_to_currency(@cart.sum(&:price) / 100.00, :unit=> '€') %></strong>
            </label>

            <%= f.input :address, label: 'Shipping Address', input_html: { class: 'form-control' } %>
            <%= f.input :phone, label: 'Contact Phone Number', input_html: { class: 'form-control' } %>
            <%= f.input :name, label: 'Name for your order', input_html: { class: 'form-control' } %>
          </div>

          <% amount = @cart.sum(&:price) %>
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Your art is on the way!"
            data-amount="<%= amount %>"
            data-locale="auto">
          </script>

          <input type="submit" value="Pay with card" class="btn btn-primary">
        <% end %>
      </div>
    </div>
    <input class="tabInput" name="tabs" type="radio" id="tab-2"/>
    <label class="tabLabel" for="tab-2">Pay With PayPal <i class="fa-brands fa-paypal fa-lg"></i></label>
    <div class="panel">
      <h1 class="tabH1"><i class="fa-brands fa-paypal fa-2xl"></i> PayPal</h1>
      <p class="tabP">Orders ship typically within a few days of purchase. They are packaged by the artist and delivered via the most expedient method possible. If you have any doubts, please message the artist via Instagram or email and she will follow up with you as soon as she is able. Thank you for supporting a more colorful world!</p>
      <div>
        <% amount = @cart.sum(&:price) %>
        <%= simple_form_for @order, url: create_order_path, method: :post do |f| %>
          <div class="form-inputs">
            <label class="amount mb-3">
              <strong>Your total: <%= number_to_currency(@cart.sum(&:price) / 100.00, :unit=> '€') %></strong>
            </label>

            <%= f.input :address, label: 'Shipping Address', input_html: { class: 'form-control' } %>
            <%= f.input :phone, label: 'Contact Phone Number', input_html: { class: 'form-control' } %>
            <%= f.input :name, label: 'Name for your order', input_html: { class: 'form-control' } %>
          </div>
          <div id="payment-form"></div>
          <input type="submit" value="Pay with card" class="btn btn-primary">
        <% end %>

        <script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>
        <script>
          var clientToken = "<%= Braintree::ClientToken.generate %>"; // Generated server-side instead
          braintree.setup(
              // gon.client_token, "dropin", {
              clientToken, "dropin", {
              container: "payment-form",
              paypal: {
                singleUse: true,
                currency: 'EUR',
                locale: 'en_us'
              },
              dataCollector: {
                paypal: true
              },
            }
          );
        </script>
       </div>
    </div>
    <input class="tabInput" name="tabs" type="radio" id="tab-3"/>
    <label class="tabLabel" for="tab-3">Pay With Crypto <i class="fa-brands fa-bitcoin fa-lg"></i></label>
    <div class="panel">
      <h1 class="tabH1">Crypto Payments <i class="fa-brands fa-bitcoin fa-lg"></i><i class="fa-brands fa-ethereum fa-lg"></i></h1>
      <p class="tabP">Connect your preferred wallet, to pay <i class="fa-regular fa-hand-point-down"></i></p>
      <div class="d-flex justify-content-center" >
        <button class="btn btn-primary mt-3"  id="connect-button" data-action="click->crypto#connectWallet" data-crypto-target="connect">Connect Wallet</button>
      </div>
      <div class="d-flex flex-column mx-auto text-center">
          <p data-crypto-target="address"></p>
      </div>
      <p class="tabP" >
        Orders ship typically within a few days of purchase. They are packaged by the artist and delivered via the most expedient method possible. If you have any doubts, please message the artist via Instagram or email and she will follow up with you as soon as she is able. Thank you for supporting a more colorful world!
      </p>
      <div>orders/new
        <% amount = @cart.sum(&:price) %>
        <%= simple_form_for @order, data: { crypto_target: "form"} do |f| %>
          <div class="form-inputs">
            <label class="amount mb-3">
              <strong>Your total: <%= number_to_currency(@cart.sum(&:price) / 100.00, :unit=> '€') %></strong>
            </label>

            <%= f.input :address, label: 'Shipping Address', input_html: { class: 'form-control' }%>
            <%= f.input :phone, label: 'Contact Phone Number', input_html: { class: 'form-control' }%>
            <%= f.input :name, label: 'Name for your order', input_html: { class: 'form-control' } %>
          </div>
          <input type="submit" value="Pay with crypto" class="btn btn-primary" data-action="click->crypto#pay" data-crypto-target="pay">
        <% end %>
      </div>
    </div>
  </div>



</div>
