<div class="container-fluid pb-5">
  <p style="color: green"><%= notice %></p>

  <%= render @order %>

  <div>
    <%= link_to "Edit this order", edit_order_path(@order) %> |
    <%= link_to "Back to orders", orders_path %>

    <%= link_to "Delete", @order, class: "btn btn-danger mt-3 text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
</div>
